# React Native
node_modules/
.buckconfig
.gradle/
.idea/
.vscode/
.expo/
dist/
.expo-shared/
web-build/
android/
ios/
*.iml
*.log
*.lock
*.tmp
*.temp
*.obj
*.plist
*.sublime*
*.swp
*.DS_Store
*.db

# TypeScript
dist/
node_modules/
lib/
tsconfig.tsbuildinfo

# Expo
.expo/
.expo-shared/
.expo-go/
web-build/
